// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Fonts variables
$nav-list-font: 'Open Sans', sans-serif;
$btn-font: 'Open Sans', sans-serif;
$small-ital-font: 'Open Sans', sans-serif;
$quotes-font: 'Roboto', sans-serif;
$p-font: 'Roboto', sans-serif;
